/*Configura os caracteres para UTF-8*/
@charset "UFT-8";

/*Importa fontes especiais*/
@import url();

/*Reseta todos os parâmetros pré-definidos de todos os navegadores*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #EBEBEB;

    /*Fontes*/
}
